[submodule "lib/flotr2"]
	path = lib/flotr2
	url = git://github.com/HumbleSoftware/Flotr2.git
[submodule "spec/jasmine-jquery"]
	path = spec/jasmine-jquery
	url = git://github.com/HumbleSoftware/jasmine-jquery.git
