/* Vis */
div#demo {
  height: 416px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.humble-vis-visualization {
  background: #99CCFF;
}
.humble-vis-child {
  border-top: 8px solid white;
  border-bottom: 0px;
}
.humble-vis-child.volume .flotr-mouse-value {
  display: none;
}
.humble-vis-child.summary .flotr-grid-label {
  margin-top: 6px;
}

/* Finance */
.flotr-grid-label-y {
  z-index: 8;
  text-align: right;
  width: 50px !important;
  margin-left: -53px;
}
.flotr-mouse-value {
	font-size: 12px;
}
.humble-vis-child.price .flotr-grid-label {
    margin-left: 4px;
}

.humble-vis-child.price .humble-vis-child-container {
  width : 598px;
  height : 240px;
}
.humble-vis-child.volume .humble-vis-child-container {
  width : 598px;
  height : 80px;
}
.humble-vis-child.summary .humble-vis-child-container {
  width : 598px;
  height : 70px;
}
