/* Vis */
div#demo {
  height: auto;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.humble-vis-visualization {
  background: #fff;
}

.humble-vis-child-container {
  border: 0px;
}
.humble-vis-child-container + .humble-vis-child-container {
  margin-top: 0px;
  background: #fff;
}
.humble-vis-child-container.humble-vis-first {
  border-bottom: 1px solid #99CCFF;
}

.humble-vis-child.price .flotr-grid-label {
  margin-left: 4px;
}
.humble-vis-child.volume .flotr-mouse-value {
  display: none;
}
.humble-vis-child.summary .flotr-grid-label {
  margin-top: 6px;
}

/* Finance */
.flotr-grid-label-y {
  z-index: 8;
  text-align: right;
  width: 50px !important;
  margin-left: -53px;
}
.flotr-mouse-value {
	font-size: 12px;
}

.humble-vis-child.price {
  margin-top: 8px;
  height : 240px;
}
.humble-vis-child.volume {
  margin-top: 8px;
  background: #fff;
  height : 80px;
}
.humble-vis-child.connection {
  height: 14px;
}
.humble-vis-child.connection canvas {
  background: #fff;
  z-index: 10;
}
.humble-vis-child.summary {
  height : 70px;
  margin-top: -1px;
}
